/* 
FLEXBOX - BASE

- Es un modelo de layout que permite que las cajas sean flexibles, es un valor 
  de la propiedad display
- Existe display:flex y  display:inline-flex para que el contenedor sea en
  bloque o en línea respectivamente
- Se necesita un contenedor (flex-container) y al menos un hijo (flex-item)
- Las cajas flexibles son los items, el contenedor es el contexto al que 
  pertenecen los items


FLEXBOX - EJES

- Existen dos ejes para colocar y alinear elementos
- Por defecto el eje principal es horizontal y de izq a dcha y el eje secundario
  es vertical de arriba abajo
- Se pueden intescambiar los ejes y dirección de ambos
  el eje principal será el main axis (main start y main end) y el secundario el 
  cross axis (cross start y cross end)


  ALINEAMIENTO

  Existen propiedades para el main axis y para el cross axis

  main-axis:

    justify-content: 
      flex-start(default) | center| space-between | space-around| space-evenly | flex-end

  
  cross-axis
    align-items: una sola linea
      flex-start| center| flex-end | stretch(default) | baseline
    
    align-content: varias lineas
        flex-start| center| flex-end | stretch(default) | baseline

    align-self: se aplica al self-item. Para alinear un elemento en concreto en cross-axis


    TRUCO EXTRA:  
        CON MARGIN:AUTO SIEMPRE VA A ESTAR CENTRADO, EN FLEX EL MARGIN 
        AL LADO QUE PONGAS SE VA AL LADO CONTARIO DEL DICHO

    
    PROPIEDAD FLEX: Es un shorthand que engloba las siguientes propiedaddes.

      flex-grow: que hacer cuando hay espacio sobrante.

      flex-shrink: que hacer cuando no hay espacio suficiente

      flex-basics: cuanto tiene que ocupar el item antes de encoger o extenderse.

     La propiedad flex, por defecto tiene la propiedad
     0 1 auto
     auto: 1 1 auto 
     none: 0 0 auto
     
      Order: que orden ocupara el elemento en el contenedor flex.
      */


.flex-container{
  background-color: #fca17d;
  height: 400px;
  display: flex;
  flex-wrap: wrap;

}

.flex-item{
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: aliceblue;
  text-align: center;
  background-color: #9a348e;
}

/* .box{
  border: 1px solid black;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
}

.box img {
  max-width: 50%;
} */

/* .prices{
  display: flex;
  align-items: flex-start;
  height: 600px;
}

.prices__item{
  width: 25%;
  height: 300px;

}
.prices__item:first-child{
  background: peru;
}


.prices__item:nth-child(2){
  background: green;
  line-height: 20px;
  align-self: center;
}


.prices__item:nth-child(3){
  background: indianred;
  line-height: 15px;
}

.prices__item:nth-child(4){
  background: lightgreen;
  line-height: 50px;
} */
