/* 
Cuando en CSS usamos la propiedad text-* afectamos a un bloque completo

Cuando utilizamos una propiedad font-* afecta a la fuente del texto

Fuentes predeterminadas

    serif: fuentes que tienen serifas (adornos en los caracteres) para titulos, xq en párrafo agota la vista
    sans-serif: fuentes sin serifas
    monospace: mismo espacio entre caracteres
    cursive: emula escritura a mano
    fantasy: fuentes decorativas


Las fuentes desde un servidor remoto, son fuentes que se encuentran en un servidor y descargamosd para su uso, la más famosa es GOOGLE FONTS

Siempre que utilicemos fuentes no genéricas, debemos poner fuentes genéricas de fallback (respaldo)




Hola estamos probando git

@font-face {
    font-family: nombre que queramos
    src: 
    2 tipos de valores
        local() fuente en el ordenador
        url() descargamos fuente

        format() si queremos ser mas especificos con la fuente a descargar, sino lo ponemos cogera el 1er formato soportado, sino el establecido y sino encuentra no hará nada.
}
    Podemos añadirle más valores como font-style, font-weight y font-display (experimental), pero son opcionales.
*/