[class^="bg-"] {
    display: flex;
    flex-wrap:wrap;
    width: 50%;
    margin:0 auto;
    height: 200px;
    border: 1px solid red;
}

/*

background-color:  color fondo de la caja
background-image: url(ruta) imagen fondo caja
background-repeat: si se repite imagen o no
background-size: tamaño de la imagen de fondo
    x[y] | auto|cover |contain
        el valor y es opcional, sino ponemos lo calcula aut.
        cover cubra la caja aunq se deforme
        contain la imagen se ajusta al contenido

background-position: posición de la imagen, sino se especifica un 
    segundo valor será center

    left top
    left center
    left bottom
    right top
    right center
    right bottom
    center top
    center center
    center bottom
    x% y%
    xpos ypos
    initial
    inherit

background-attachment: si el fondo se coloca respecto a la caja 
    o al viewport

background-clip: que parte de la caja rellenará el fondo
        border-box| padding-box | content-box

background-origin: donde comienza el fondo
        border-box| padding-box | content-box
        */


body{
    padding-bottom: 50em;
    text-align: center;
}
    
.bg-color{
    background-color:purple;
}

.bg-image{
    background-image: url(../assets/pexels-mike-b-7469142.jpg);
}

.bg-size{
    background-image: url(../assets/pexels-mike-b-7469142.jpg);
    background-size: contain;
}

.bg-repeat{
    background-image: url(../assets/pexels-mike-b-7469142.jpg);
    background-size: 20%;
    background-repeat: no-repeat;
}

.bg-position{
    background-image: url(../assets/pexels-mike-b-7469142.jpg);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: top;
    }


.bg-origin{
    border: 10px dotted red;
    padding: 25px;
    background-image: url(../assets/pexels-mike-b-7469142.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.bg-clip{
    border: 10px dotted red;
    background-image: url(../assets/pexels-mike-b-7469142.jpg);
    background-size: contain;
    background-clip: content-box ;
    background-repeat: no-repeat;
    padding: 25px;

}
.bg-attachment{
    width: 100%;
    height: 500px;
    background-image: url(../assets/pexels-mike-b-7469142.jpg);
    background-size: contain;
    background-attachment: fixed;

}
.bg-multiple {
    background-image: 
    url(../assets/—Pngtree—white\ cloud\ hd\ transparent\ png_3595697.png),
    url(../assets/pexels-mike-b-7469142.jpg);
    background-size: 30%, cover;
    background-repeat: no-repeat;
    background-position: bottom right, center;
    background-attachment: scroll, fixed;
}
                      
